<!DOCTYPE html>
<html>
<head>
  <title>Add SMS</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>

<body class="container mt-4">

<h2>Add SMS</h2>

<form action="/insert/" method="POST" enctype="multipart/form-data">
  {% csrf_token %}

  <div class="mb-3">
    <label>Name</label>
    <input type="text" name="name" class="form-control" value="{{ data.name }}">
    <small class="text-danger">{{ errors.name }}</small>
  </div>

  <div class="mb-3">
    <label>Mobile</label>
    <input type="text" name="mobile" class="form-control" value="{{ data.mobile }}">
    <small class="text-danger">{{ errors.mobile }}</small>
  </div>

  <div class="mb-3">
    <label>Message</label>
    <textarea class="form-control" name="message" value="{{ data.message }}"></textarea>
    <small class="text-danger">{{ errors.message }}</small>
  </div>

  <div class="mb-3">
    <label>Photo</label>
    <input type="file" name="photo" class="form-control">
    <small class="text-danger">{{ errors.photo }}</small>
  </div>

  <button class="btn btn-success">Save</button>
  <a href="/" class="btn btn-dark">Back</a>
  
</form>

</body>
</html>
